/*Kherin V. Graves*/


body {
    background-image: url("pic10.png");
    background-repeat: no-repeat;
}


h1, h2 {
 Background-color: #ff0066;
}

footer {
 Background-color: pink;
}

*p {
 Background-color: pink;
}
}