/*Kherin V. Graves*/


body {
    background-image: url("bgpic.png");
    background-repeat: repeat-x;
}


h1, h2, h3, footer {
 Background-color: #ff0066;
}

footer {
background-color: #ff0066;
}

h3{
 Background-color: #ff0066;
}

h2 {
 Background-color: #ff0066;
}

