/*Kherin V. Graves*/


body {
    background-image: url("backgroundpic.png");
    background-repeat: no-repeat;
}


h1, h2 {
 Background-color: pink;
}

footer {
 Background-color: pink;

h2 {
 Background-color: pink;
}
}