/*Kherin V. Graves*/



body {
    background-image: url("pic15.png");
	background-repeat: repeat-y;
}

h1 {
 Background-color: #ff0066;
}

footer {
background-color: #ff0066;
}

h3{
 Background-color: #ff0066;
}

h2 {
 Background-color: #ff0066;
}

