/*Kherin V. Graves*/

body {
    background-image: url("green.jpg");
	background-repeat: repeat-y;
}

.p {
     color: white;
 }


h2 {
 background-color: green;
}

h1 {
 Background-color: green;
}

h3 {
background-color: green;
}

footer {
background-color: green;
}

h3 {
     border-style: double;
     border-color: white green;
 }

h1 {
     border-style: double;
     border-color: white green;
 }

h2 {
    border-style: double;
    border-color: white green;
}

footer {
     border-style: double;
     border-color: white green;
 }

.img {
     border-style: double;
     border-color: white green;
 }


// Activate Carousel
$("#myCarousel").carousel();

// Enable Carousel Indicators
$(".item").click(function(){
    $("#myCarousel").carousel(1);
});

// Enable Carousel Controls
$(".left").click(function(){
    $("#myCarousel").carousel("prev");
}); 



footer {
    color: black;
}
